*.cache
MAS\MAS\obj\Debug*/
*.dll
*.pdb
MAS/MAS.BusinessObject/obj/Debug/MAS.BusinessObject.csproj.FileListAbsolute.txt
MAS/MAS.Controller/obj/Debug/MAS.Controller.csproj.FileListAbsolute.txt
MAS/MAS.DAL/obj/Debug/MAS.DAL.csproj.FileListAbsolute.txt
MAS/MAS/obj/Debug/MAS.WebUI.csproj.FileListAbsolute.txt
_ReSharper*/

MAS/MAS.suo
MAS/MAS.suo